# Because OSX
.DS_Store

# Ignore Sublime project files.
*.sublime*

# Ignore Vagrant instance files.
.vagrant

# Ignore PHPStorm project files.
.idea

# Ignore composer and node files.
composer.lock
node_modules/
vendor/