/*---------------------------------------------------------
 Builder (builder.css)
-------------------------------------------------------- */
#ttfmake-builder .inside {
	padding: 0;
}

.ttfmake-titlediv {
	position: relative;
	margin-bottom: 20px;
}
.ttfmake-titlediv .ttfmake-title {
	width: 100%;
	height: 41px;
	margin: 0;
	padding: 0 8px;
	font-size: 19px;
	box-shadow: none;
	box-sizing: border-box;
}
.ttfmake-titlediv .ttfmake-title:focus {
	border: 1px solid #ddd;
	box-shadow: none;
}

#ttfmake-builder *:focus {
	outline: none !important;
	box-shadow: none !important;
}
/*---------------------------------------------------------
 Menu (builder.css)
-------------------------------------------------------- */
.ttfmake-menu {
	margin-top: -6px;
}
.ttfmake-menu-pane {
	margin-bottom: 40px;
	border-top: none;
	line-height: 0;
}
.ttfmake-menu-list {
	display: inline-block;
	width: 100%;
	margin: 0;
}
.ttfmake-menu-list-item {
	float: left;
	width: 50%;
	height: 100%;
	margin-bottom: 0;
	position: relative;
	text-align: center;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	box-sizing: border-box;
}
.ttfmake-menu-list-item:hover {
	background-color: #fafafa;
}
.ttfmake-menu-list-item:last-of-type {
	border-right: none;
	margin-right: 0;
}
@media screen and (min-width: 1160px) {
	.ttfmake-menu-list-item {
		width: 12.5%;
	}
	.ttfmake-menu-list-item-link:nth-child(even) .ttfmake-menu-list-item {
		border-right: 1px solid #eeeeee;
	}
	.ttfmake-menu-list-item-link:nth-child(4) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(8) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(12) .ttfmake-menu-list-item {
		border-right: 0;
	}
}
.ttfmake-menu-list-item-link {
	display: block;
}
.ttfmake-menu-list-item-link-icon-wrapper {
	background: #ffffff center center/58px 50px no-repeat;
	border: 1px solid #dfdfdf;
	display: inline-block;
	height: 75%;
	margin: 12% 13% 0 11%;
	width: 75%;
}
.ttfmake-menu-list-item:hover .ttfmake-menu-list-item-link-icon-wrapper {
	border-color: #bbb;
}
.ttfmake-menu-list a {
	text-decoration: none;
	color: #777;
}
.ttfmake-menu-list a:hover {
	color: #333;
}
.ttfmake-menu-list a .ttfmake-menu-list-item-link-icon {
	display: block;
	visibility: hidden;
	height: 74px;
	background: url(images/section-icons-hover.png) center center no-repeat;
	background-size: 36px 36px;
}
.ttfmake-menu-list a:hover .ttfmake-menu-list-item-link-icon {
	visibility: visible;
}
.section-type-description {
	margin-top: 15px;
	padding-bottom: 15px;
}
.section-type-description p {
	display: none;
	position: absolute;
	bottom: -44px;
	background: #333;
	margin: 0 0 0 -50%;
	width: 200%;
	min-height: 38px;
	color: #fff;
	padding: 3px;
	z-index: 99163;
	border: 1px solid #eee;
}
.ttfmake-menu-list-item:hover .section-type-description p {
	display: block;
}
@media screen and (max-width: 1160px) {
	.ttfmake-menu-list-item .section-type-description p {
		width: 97%;
		margin-left: 0;
	}
}
.ttfmake-menu-list h4 {
	margin: 0;
	font-size: 1em;
}
.ttfmake-menu-tab {
	display: none;
}
/*---------------------------------------------------------
 Stage (builder.css)
-------------------------------------------------------- */
 .ttfmake-stage {
	clear: both;
	padding-top: 10px;
}
.ttfmake-stage-closed {
	padding-top: 0;
}
.ttfmake-stage .sortable-placeholder {
	margin-bottom: 10px;
}
/*---------------------------------------------------------
 Sections (builder.css)
-------------------------------------------------------- */
.ttfmake-section {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 0;
	background-color: #fff;
	box-sizing: border-box;
}
.ttfmake-section-open {
	margin-bottom: 0;
}
.ttfmake-section-header {
	cursor: move;
	margin: 1em 0;
	position: relative;
}
.ttfmake-section-header h3 {
	width: 100%;
	color: #222;
	font-size: 13px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif !important;
	line-height: 30px !important;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	background-color: #eee;
	box-sizing: border-box;
	transition: background-color 300ms ease;
	margin: 0;
}
.ttfmake-section-open .ttfmake-section-header h3 {
	color: #fff;
	border-color: #222;
	background-color: #222;
}
.ttfmake-section-header-title {
	max-width: 90%;
	display: inline-block;
}
.ttfmake-section-header span {
	font-weight: bold;
	margin-left: 12px;
}
.ttfmake-section-header span:empty {
	margin-left: 0;
}
.ttfmake-section-header em {
	margin-left: 12px;
	color: #777;
	font-weight: normal !important;
	font-style: normal !important;
}
.ttfmake-section-open .ttfmake-section-header em {
	color: #bbb;
}
.ttfmake-section-body {
	float: left;
	height: 0;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.ttfmake-section-open .ttfmake-section-body {
	height: auto;
	padding: 20px;
}
/*---------------------------------------------------------
 Forms (builder.css)
-------------------------------------------------------- */
.ttfmake-section input[type=checkbox],
.ttfmake-section input[type=radio],
.ttfmake-section input[type=search],
.ttfmake-section input[type=number],
.ttfmake-section input[type=text],
.ttfmake-section textarea {
	box-shadow: none;
}
.ttfmake-section input[type=text]:focus,
.ttfmake-section input[type=number]:focus {
	border-color: #ddd;
}
/*---------------------------------------------------------
 Header buttons (builder.css)
-------------------------------------------------------- */
.ttfmake-builder-section-footer-link,
.ttfmake-section-toggle,
.spine-builder-column-configure,
.wsuwp-column-toggle,
.ttfmake-banner-slide-toggle {
	height: 100%;
	position: absolute;
	text-decoration: none;
	top: 0;
}
.ttfmake-builder-section-footer-link,
.spine-builder-column-configure {
	padding: 0 10px;
}
.spine-builder-section-configure {
	display: inline-block;
	right: 81px;
}
.ttfmake-section-remove {
	right: 49px;
}
.ttfmake-section-toggle,
.wsuwp-column-toggle,
.ttfmake-banner-slide-toggle {
	right: 0;
}
.spine-builder-column-configure {
	right: 39px;
}
.ttfmake-section-wsuwpheader .spine-builder-column-configure {
	right: 16px;
}
.ttfmake-builder-section-footer-link,
.ttfmake-section-toggle .handlediv,
.spine-builder-column-configure,
.wsuwp-column-toggle .handlediv,
.ttfmake-banner-slide-toggle .handlediv {
	color: #aaa;
}
.spine-builder-section-configure:hover,
.spine-builder-section-configure:focus,
.ttfmake-section-toggle .handlediv:hover,
.spine-builder-column-configure:hover,
.wsuwp-column-toggle .handlediv:hover,
.ttfmake-banner-slide-toggle .handlediv:hover {
	color: #222;
}
.ttfmake-section-open .spine-builder-section-configure:hover,
.ttfmake-section-open .ttfmake-section-toggle .handlediv:hover {
	color: #fff;
}
.ttfmake-section-remove:hover {
	color: #c60c30;
}
.ttfmake-section-remove:focus {
	color: #981e32;
}
.ttfmake-section-toggle:focus {
	border: none !important;
}
.postbox .ttfmake-section .handlediv {
	border-left: 1px solid #d9d9d9;
	float: none;
	height: 32px;
	margin: 0;
	position: relative;
}
.postbox .ttfmake-section-open .handlediv {
	border-left-color: #999;
}
.postbox .wsuwp-column-toggle .handlediv {
	width: 27px;
	height: 29px;
	border-left-color: #cbcbcb;
}
.ttfmake-section-open .ttfmake-banner-slide-toggle .handlediv {
	border-left: 1px solid #d9d9d9;
}
.ttfmake-builder-section-footer-link:before,
.ttfmake-section-toggle .handlediv:before,
.spine-builder-column-configure:before,
.wsuwp-column-toggle .handlediv:before,
.ttfmake-banner-slide-toggle .handlediv:before {
	font: 400 20px/32px dashicons;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	speak: none;
	top: 50%;
	transform: translateY(-50%);
}
.ttfmake-builder-section-footer-link span,
.spine-builder-column-configure span {
	display: none;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
}
.spine-builder-section-configure:before,
.spine-builder-column-configure:before {
	content: "\f111";
}
.ttfmake-section-remove:before {
	content: "\f182";
}
.ttfmake-section-toggle .handlediv:before,
.wsuwp-column-toggle .handlediv:before,
.ttfmake-banner-slide-toggle .handlediv:before {
	text-indent: -1px;
	width: 20px;
}
.ttfmake-section.ttfmake-section-open .ttfmake-section-header .handlediv:before,
.wsuwp-column-toggle .handlediv:before,
.ttfmake-section .ttfmake-banner-slide-open .ttfmake-banner-slide-header .handlediv:before {
	content: '\f142';
}
.ttfmake-section-toggle .handlediv:before,
.wsuwp-column-toggle .wsuwp-toggle-closed:before,
.ttfmake-banner-slide-toggle .handlediv:before {
	content: '\f140';
}

/*---------------------------------------------------------
 Columns (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.wsuwp-spine-builder-column {
		float: left;
		margin-bottom: 0;
		padding: 0 10px;
		width: 100%;
	}
}
.wsuwp-spine-builder-column {
	box-sizing: border-box;
	padding-bottom: 20px;
	margin-bottom: 40px;
	width: 100%;
}
.wsuwp-builder-column-title {
	width: 120px;
	margin: 0 auto;
	background: none;
	text-align: center;
	color: #777;
	font-size: 13px;
	line-height: 30px;
}
/*---------------------------------------------------------
 Sortable handle (builder.css)
-------------------------------------------------------- */
.ttfmake-sortable-handle {
	position: relative;
	width: 100%;
	height: 30px;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	background-color: #eee;
	cursor: move;
	box-sizing: border-box;
}
.sortable-background {
	display: block;
	height: 30px;
	background-image: none;
	opacity: 1;
}
/*---------------------------------------------------------
 Section and column configuraton (sections.css)
-------------------------------------------------------- */
.spine-builder-column-overlay,
.spine-builder-overlay {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: nowrap;
	z-index: 100200;
	position: fixed;
}
.spine-builder-column-overlay:before,
.spine-builder-overlay:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.spine-builder-column-overlay-wrapper,
.spine-builder-overlay-wrapper {
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.3);
	box-sizing: border-box;
	display: inline-block;
	margin-top: 37px;
	max-height: 90%;
	max-height: calc( 90% - 37px);
	max-width: 400px;
	min-height: 150px;
	overflow: auto;
	position: relative;
	text-align: left;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}
.spine-builder-overlay-header {
	padding: 0;
	min-height: 36px;
	background: #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
	margin-top: -37px;
	max-width: 400px;
	position: fixed;
	width: 100%;
}
.spine-builder-overlay-header h2 {
	float: left;
}
.spine-builder-overlay-title {
	width: 300px;
	margin: 0;
	padding: 0 36px 0 10px;
	color: #444;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	text-rendering: optimizelegibility;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.spine-builder-column-overlay-close,
.spine-builder-overlay-close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 10px;
	font-size: 15px;
	font-size: 15px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	background-color: #00a5bd;
	cursor: pointer;
}
.spine-builder-overlay-body {
	padding: 5px 20px 20px 20px !important;
	clear: both;
}
.spine-builder-overlay-open {
	display: block;
}
.spine-builder-column-overlay-wrapper *,
.spine-builder-overlay-wrapper * {
	-webkit-font-smoothing: subpixel-antialiased !important;
}
.wsuwp-builder-meta label {
	font-weight: 700;
	line-height: 2rem;
}
.wsuwp-builder-meta {
	width: 100%;
	margin-top: 10px;
}
/*---------------------------------------------------------
 Banner (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.ttfmake-section-banner .ttfmake-section-body {
		padding: 0 30px;
	}
	.ttfmake-section-open.ttfmake-section-banner .ttfmake-section-body {
		padding: 20px 30px;
	}
}
.ttfmake-add-slide-wrapper {
	margin-bottom: 20px;
}
.ttfmake-add-slide-wrapper a:before {
	content: "\f132";
	font-family: Dashicons;
	position: relative;
	top: 1px;
	padding-right: 4px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-add-slide-wrapper a:before {
		top: 3px;
	}
}
.ttfmake-banner-slide {
	border: 1px solid #d9d9d9;
	margin-bottom: 20px;
}
.ttfmake-banner-slide-header {
	cursor: move;
	position: relative;
}
#poststuff .ttfmake-banner-slide-header h3 {
	background-color: #eee;
	line-height: 32px;
	margin: 0;
	padding: 0 0 0 12px;
	padding-bottom: 0;
}
.ttfmake-banner-slide-header h3 em {
	font-weight: normal;
	color: #999;
}
.ttfmake-banner-slide-body {
	border-top: 1px solid #d9d9d9;
	display: none;
	padding: 12px;
}
#poststuff .ttfmake-banner-slide-body h2 {
	padding: 12px 0 4px 0;
}
.ttfmake-banner-slide-open .ttfmake-banner-slide-body {
	display: block;
}
@media screen and ( min-width: 1160px ) {
	.ttfmake-banner-slide-option-wrapper,
	.ttfmake-banner-slide-background-image-wrapper {
		width: 50%;
		box-sizing: border-box;
	}
	.ttfmake-banner-slide-option-wrapper {
		float: right;
		padding-left: 20px;
	}
	.ttfmake-banner-slide-background-image-wrapper {
		float: left;
	}
}
.ttfmake-media-uploader-add {
	display: inline-block;
	cursor: pointer;
}
.ttfmake-media-uploader-placeholder {
	position: relative;
	display: block;
	width: 100%;
	height: 220px;
	border: 1px solid #dfdfdf;
	background-color: #fafafa;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}
.ttfmake-media-uploader-placeholder:before {
	content: "\f128";
	display: block;
	color: #d9d9d9;
	font: 60px/220px dashicons;
	text-align: center;
}
.ttfmake-media-uploader-placeholder:hover:before {
	color: #c7c7c7;
}
.ttfmake-media-uploader-placeholder img {
	position: absolute;
	max-width: 100%;
	max-height: 228px;
	width: auto;
	height: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 8px;
	box-sizing: border-box;
}
.ttfmake-media-link-wrap {
	margin-bottom: 8px;
}
.ttfmake-media-uploader-set-link,
.ttfmake-media-uploader-remove,
.ttfmake-banner-slide-remove {
	margin-top: 12px;
}
.ttfmake-media-link-wrap:after {
	content: "";
	display: table;
	clear: both;
}
.ttfmake-media-uploader-set-link,
.ttfmake-media-uploader-remove {
	float: left;
}
.ttfmake-banner-slide-remove {
	display: inline-block;
}
.ttfmake-banner-options {
	float: left;
	width: 100%;
	margin-top: 0;
}
#poststuff .ttfmake-large-title {
	font-weight: 700;
	padding: 12px 0;
}
.ttfmake-large-title:before {
	content: "\f108";
	font-family: Dashicons;
	font-weight: normal;
	position: relative;
	top: 7px;
	font-size: 30px;
}
.ttfmake-banner-options-container {
	float: left;
	margin-right: 40px;
}
/*---------------------------------------------------------
 Common (builder.css)
-------------------------------------------------------- */
.ttfmake-show {
	display: block;
}

.ttfmake-hide {
	display: none;
}
.ttfmake-section h4 {
	margin: 20px 0 10px;
	font-size: 13px;
}
