/*---------------------------------------------------------
 Builder (builder.css)
-------------------------------------------------------- */
#ttfmake-builder .inside {
	padding: 0;
}

.ttfmake-titlediv {
	position: relative;
	margin-bottom: 20px;
}
.ttfmake-titlediv .ttfmake-title {
	width: 100%;
	height: 41px;
	margin: 0;
	padding: 0 8px;
	font-size: 19px;
	box-shadow: none;
	box-sizing: border-box;
}
.ttfmake-titlediv .ttfmake-title:focus {
	border: 1px solid #ddd;
	box-shadow: none;
}

#ttfmake-builder *:focus {
	outline: none !important;
	box-shadow: none !important;
}
/*---------------------------------------------------------
 Menu (builder.css)
-------------------------------------------------------- */
.ttfmake-menu {
	margin-top: -6px;
}
.ttfmake-menu-pane {
	margin-bottom: 40px;
	border-top: none;
	line-height: 0;
}
.ttfmake-menu-list {
	display: inline-block;
	width: 100%;
	margin: 0;
}
.ttfmake-menu-list-item {
	float: left;
	width: 50%;
	height: 100%;
	margin-bottom: 0;
	position: relative;
	text-align: center;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	box-sizing: border-box;
}
.ttfmake-menu-list-item:hover {
	background-color: #fafafa;
}
.ttfmake-menu-list-item:last-of-type {
	margin-right: 0;
}
@media screen and (min-width: 1160px) {
	.ttfmake-menu-list-item {
		width: 12.5%;
	}
	.ttfmake-menu-list-item-link:nth-child(even) .ttfmake-menu-list-item {
		border-right: 1px solid #eeeeee;
	}
	.ttfmake-menu-list-item-link:nth-child(4) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(8) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(12) .ttfmake-menu-list-item {
		border-right: 0;
	}
}
.ttfmake-menu-list-item-link {
	display: block;
}
.ttfmake-menu-list-item-link-icon-wrapper {
	background: #ffffff center center/58px 50px no-repeat;
	border: 1px solid #dfdfdf;
	display: inline-block;
	height: 75%;
	margin: 12% 13% 0 11%;
	width: 75%;
}
.ttfmake-menu-list-item:hover .ttfmake-menu-list-item-link-icon-wrapper {
	border-color: #bbb;
}
.ttfmake-menu-list a {
	text-decoration: none;
	color: #777;
}
.ttfmake-menu-list a:hover {
	color: #333;
}
.ttfmake-menu-list a .ttfmake-menu-list-item-link-icon {
	display: block;
	visibility: hidden;
	height: 74px;
	background: url(images/section-icons-hover.png) center center no-repeat;
	background-size: 36px 36px;
}
.ttfmake-menu-list a:hover .ttfmake-menu-list-item-link-icon {
	visibility: visible;
}
.section-type-description {
	margin-top: 15px;
	padding-bottom: 15px;
}
.section-type-description p {
	display: none;
	position: absolute;
	bottom: -44px;
	background: #333;
	margin: 0 0 0 -50%;
	width: 200%;
	min-height: 38px;
	color: #fff;
	padding: 3px;
	z-index: 99163;
	border: 1px solid #eee;
}
.ttfmake-menu-list-item:hover .section-type-description p {
	display: block;
}
@media screen and (max-width: 1160px) {
	.ttfmake-menu-list-item .section-type-description p {
		width: 97%;
		margin-left: 0;
	}
}
.ttfmake-menu-list h4 {
	margin: 0;
	font-size: 1em;
}
.ttfmake-menu-tab {
	display: none;
}
/*---------------------------------------------------------
 Stage (builder.css)
-------------------------------------------------------- */
 .ttfmake-stage {
	clear: both;
	padding-top: 10px;
}
.ttfmake-stage-closed {
	padding-top: 0;
}
.ttfmake-stage .sortable-placeholder {
	margin-bottom: 10px;
}
/*---------------------------------------------------------
 Sections (builder.css)
-------------------------------------------------------- */
.ttfmake-section {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 0;
	background-color: #fff;
	box-sizing: border-box;
}
.ttfmake-section-open {
	margin-bottom: 0;
}
.ttfmake-section-header {
	cursor: move;
	position: relative;
}
.ttfmake-section-header h3 {
	float: left;
	width: 100%;
	color: #222;
	font-size: 13px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif !important;
	line-height: 30px !important;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	background-color: #eee;
	box-sizing: border-box;
    transition: background-color 300ms ease;
}
.ttfmake-section-open .ttfmake-section-header h3 {
	color: #fff;
	border-color: #222;
	background-color: #222;
}
.ttfmake-section-header-title {
	max-width: 90%;
	display: inline-block;
}
.ttfmake-section-header span {
	font-weight: bold;
}
.ttfmake-section-header em {
	margin-left: 10px;
	color: #777;
	font-weight: normal !important;
	font-style: normal !important;
}
.ttfmake-section-open .ttfmake-section-header em {
	color: #bbb;
} 
.ttfmake-section-body {
	display: none;
	float: left;
	width: 100%;
	padding: 20px 20px;
	box-sizing: border-box;
}
.ttfmake-section-open .ttfmake-section-body {
	display: block;
}
.ttfmake-section .handlediv {
	position: relative;
	height: 32px;
	border-left: 1px solid #d9d9d9;
}
.ttfmake-section-open .handlediv {
    border-left-color: #999;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-section .handlediv {
		height: 48px;
		margin-top: 0;
	}
}
.ttfmake-section-toggle:focus {
	border: none !important;
}
.ttfmake-section-toggle .handlediv,
.ttfmake-banner-slide-toggle .handlediv {
	top: -45px;
	right: 0;
	margin-bottom: -45px;
}
.ttfmake-section-open .ttfmake-banner-slide-toggle .handlediv {
	border-left: 1px solid #d9d9d9;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-section-toggle .handlediv,
	.ttfmake-banner-slide-toggle .handlediv {
		top: -48px;
		margin-bottom: -48px;
	}
}
.ttfmake-stage .ttfmake-section .ttfmake-section-header .handlediv:before,
.ttfmake-stage .ttfmake-section .ttfmake-banner-slide-header .handlediv:before {
	content: '\f140';
	font: 400 20px/40px dashicons;
	width: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-indent: -1px;
	position: absolute;
	top: -5px;
	right: 7px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-stage .ttfmake-section .ttfmake-section-header .handlediv:before,
	.ttfmake-stage .ttfmake-section .ttfmake-banner-slide-header .handlediv:before {
		top: 5px;
	}
}
.ttfmake-section .ttfmake-section-header .handlediv:hover:before,
.ttfmake-section .ttfmake-banner-slide-header .handlediv:hover:before {
	color: #222;
}
.ttfmake-section-open .ttfmake-section-header .handlediv:hover:before,
.ttfmake-section-open .ttfmake-banner-slide-header .handlediv:hover:before {
	color: #fff;
}
.ttfmake-section.ttfmake-section-open .ttfmake-section-header .handlediv:before,
.ttfmake-section .ttfmake-banner-slide-open .ttfmake-banner-slide-header .handlediv:before {
	content: '\f142';
}
.wsuwp-column-toggle .handlediv:before {
	content: '\f142';
	color: #777;
	font: 400 20px/40px dashicons;
	position: absolute;
	right: 9px;
	top: -4px;
}
.wsuwp-column-toggle .wsuwp-toggle-closed:before {
	content: '\f140';
}
.wsuwp-column-toggle .handlediv {
	background: #eee;
	width: 27px;
	height: 29px;
	border-left-color: #cbcbcb;
}
/*---------------------------------------------------------
 Forms (builder.css)
-------------------------------------------------------- */
.ttfmake-section input[type=checkbox],
.ttfmake-section input[type=radio],
.ttfmake-section input[type=search],
.ttfmake-section input[type=number],
.ttfmake-section input[type=text],
.ttfmake-section textarea {
	box-shadow: none;
}
.ttfmake-section input[type=text]:focus,
.ttfmake-section input[type=number]:focus {
	border-color: #ddd;
}
/*---------------------------------------------------------
 Header buttons (builder.css)
-------------------------------------------------------- */
.spine-builder-column-configure,
.spine-builder-section-configure,
.ttfmake-section-remove {
	color: #aaa;
	display: inline-block;
	height: 100%;
	padding: 0 7px 0 7px;
	position: absolute;
	right: 40px;
	text-decoration: none;
	top: 0;
}

.spine-builder-section-configure {
	right: 68px;
}
.ttfmake-section .spine-builder-section-configure {
	display: none;
}
.ttfmake-section-open .spine-builder-section-configure {
	display: inline-block;
}
.spine-builder-column-configure span,
.spine-builder-section-configure span,
.ttfmake-section-remove span {
	display: none;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
}
.spine-builder-column-configure:hover,
.spine-builder-section-configure:hover.
.ttfmake-section-remove:hover {
	color: #222;
}
.ttfmake-section-open .spine-builder-section-configure:hover,
.ttfmake-section-open .ttfmake-section-remove:hover {
	color: #fff;
}
.spine-builder-column-configure:hover {
	color: #222;
}
.spine-builder-column-configure:before,
.spine-builder-section-configure:before,
.ttfmake-section-remove:before {
	font: 400 20px/40px dashicons;
	speak: none;
}
.spine-builder-column-configure:before,
.spine-builder-section-configure:before {
	content: "\f111";
}
.spine-builder-section-configure:before {
	position: absolute;
	right: 10px;
	top: 8px;
}
.spine-builder-column-configure:before {
    font: 400 20px/30px dashicons;
}
.ttfmake-section-wsuwpheader .spine-builder-column-configure {
	right: 0;
	background: #eee;
	border: 1px solid #ccc;
	height: 94%;
	padding-left: 10px;
}

.ttfmake-section-wsuwpheader .spine-builder-column-configure:before {
	font: 400 20px/40px dashicons;
}
.ttfmake-section-remove:before {
	content: "\f182";
	position: absolute;
	right: 5px;
	top: 9px;
}
/*---------------------------------------------------------
 Columns (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.wsuwp-spine-builder-column {
		float: left;
		margin-bottom: 0;
		padding: 0 10px;
		width: 100%;
	}
}
.wsuwp-spine-builder-column {
	box-sizing: border-box;
	padding-bottom: 20px;
	margin-bottom: 40px;
	width: 100%;
}
.wsuwp-builder-column-title {
	width: 120px;
	margin: 0 auto;
	background: none;
	text-align: center;
	color: #777;
	font-size: 13px;
	line-height: 30px;
}
/*---------------------------------------------------------
 Sortable handle (builder.css)
-------------------------------------------------------- */
.ttfmake-sortable-handle {
	position: relative;
	width: 100%;
	height: 30px;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	background-color: #eee;
	cursor: move;
	box-sizing: border-box;
}
.sortable-background {
	display: block;
	height: 30px;
	background-image: none;
	opacity: 1;
}
/*---------------------------------------------------------
 Section and column configuraton (sections.css)
-------------------------------------------------------- */
.spine-builder-column-overlay,
.spine-builder-overlay {
	display: none;
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}
.spine-builder-column-overlay-wrapper,
.spine-builder-overlay-wrapper {
	position: fixed !important;
	width: 400px;
	height: 520px;
	margin-left: -200px;
	margin-top: -200px;
	top: 50% !important;
	left: 50% !important;
	min-height: 150px !important;
	padding-bottom: 20px !important;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.3);
}
.spine-builder-column-overlay-wrapper {
	height: 310px;
	margin-top: -100px;
}
.spine-builder-overlay-header {
	padding: 0;
	min-height: 36px;
	background: #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
}
.spine-builder-overlay-header h2 {
	float: left;
}
.spine-builder-overlay-title {
	width: 300px;
	margin: 0;
	padding: 0 36px 0 10px;
	color: #444;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	text-rendering: optimizelegibility;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.spine-builder-column-overlay-close,
.spine-builder-overlay-close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 10px;
	font-size: 15px;
	font-size: 15px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	background-color: #00a5bd;
	cursor: pointer;
}
.spine-builder-overlay-body {
	padding: 5px 20px 20px 20px !important;
	clear: both;
	overflow-y: hidden;
	max-height: 500px;
}
.spine-builder-overlay-open {
	display: block;
}
.spine-builder-column-overlay-wrapper *,
.spine-builder-overlay-wrapper * {
	-webkit-font-smoothing: subpixel-antialiased !important;
}
.wsuwp-builder-meta label {
	font-weight: 700;
	line-height: 2rem;
}
.wsuwp-builder-meta {
	width: 100%;
	margin-top: 10px;
}
/*---------------------------------------------------------
 Banner (html-builder.css)
-------------------------------------------------------- */
.ttfmake-add-slide-wrapper {
	margin-bottom: 20px;
}
.ttfmake-add-slide-wrapper a:before {
	content: "\f132";
	font-family: Dashicons;
	position: relative;
	top: 1px;
	padding-right: 4px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-add-slide-wrapper a:before {
		top: 3px;
	}
}
.ttfmake-banner-slide {
	margin-bottom: 10px;
}
.ttfmake-banner-slide-body {
	display: none;
	padding: 12px;
}
.ttfmake-banner-slide-open .ttfmake-banner-slide-body {
	display: block;
}
.ttfmake-banner-slides .ttfmake-banner-slide-header h3 {
	background-color: #eee;
}
#poststuff .ttfmake-banner-slide-header h3 {
	line-height: 40px;
	padding: 0;
	padding-bottom: 0;
}
.ttfmake-banner-slide-header h3 em {
	font-weight: normal;
	color: #999;
}
@media screen and ( min-width: 1160px ) {
	.ttfmake-banner-slide-option-wrapper,
	.ttfmake-banner-slide-background-image-wrapper {
		width: 50%;
		box-sizing: border-box;
	}
	.ttfmake-banner-slide-option-wrapper {
		float: right;
		padding-left: 20px;
	}
	.ttfmake-banner-slide-background-image-wrapper {
		float: left;
	}
}
.ttfmake-media-uploader-add {
	display: inline-block;
	cursor: pointer;
}
.ttfmake-media-uploader-placeholder {
	position: relative;
	display: block;
	width: 100%;
	height: 220px;
	border: 1px solid #dfdfdf;
	background-color: #fafafa;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}
.ttfmake-media-uploader-placeholder:before {
	content: "\f128";
	display: block;
	color: #d9d9d9;
	font: 60px/220px dashicons;
	text-align: center;
}
.ttfmake-media-uploader-placeholder:hover:before {
	color: #c7c7c7;
}
.ttfmake-media-uploader-placeholder img {
	position: absolute;
	max-width: 100%;
	max-height: 228px;
	width: auto;
	height: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 8px;
	box-sizing: border-box;
}
.ttfmake-media-link-wrap {
	margin-bottom: 8px;
}
.ttfmake-banner-options {
	float: left;
	width: 100%;
	margin-top: 0;
}
#poststuff .ttfmake-large-title {
	padding-top: 12px;
	border-top: 1px solid #dfdfdf;
}
.ttfmake-large-title:before {
    content: "\f108";
    font-family: Dashicons;
    position: relative;
    top: 7px;
    font-size: 30px;
}
.ttfmake-banner-options-container {
	float: left;
	margin-right: 40px;
}
/*---------------------------------------------------------
 Common (builder.css)
-------------------------------------------------------- */
.ttfmake-show {
	display: block;
}
.ttfmake-hide {
	display: none;
}
.ttfmake-section h4 {
    margin: 20px 0 10px;
    font-size: 13px;
}