/*---------------------------------------------------------
 Builder (builder.css)
-------------------------------------------------------- */
.ttfmake-titlediv {
	position: relative;
	margin-bottom: 20px;
}
.ttfmake-titlediv .ttfmake-title,
.ttfmake-configuration-overlay-input-wrap .ttfmake-configuration-title {
	width: 100%;
	height: 41px;
	margin: 0; /*reset*/
	padding: 0 8px;
	font-size: 19px;
	-webkit-box-shadow: none; /*reset*/
	box-shadow: none; /*reset*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttfmake-titlediv .ttfmake-title:focus {
	border: 1px solid #ddd;
	-webkit-box-shadow: none; /*reset*/
	box-shadow: none; /*reset*/
}
#ttfmake-builder .inside {
	padding: 0; /*reset*/
}
#ttfmake-builder *:focus {
	outline: none !important; /*reset*/
	box-shadow: none !important; /*reset*/
}
.ttfmake-stage {
	clear: both;
	padding-top: 10px;
}
.ttfmake-stage-closed {
	padding-top: 0; /*reset*/
}
.ttfmake-stage .sortable-placeholder {
	margin-bottom: 10px;
}
/*---------------------------------------------------------
 Common (builder.css)
-------------------------------------------------------- */
.clear {
	clear: both;
}
.ttfmake-show {
	display: block;
}
.ttfmake-hide {
	display: none; /*reset*/
}
/*---------------------------------------------------------
 Menu (builder.css)
-------------------------------------------------------- */
.ttfmake-menu {
	margin-top: -6px;
}
.ttfmake-menu-pane {
	margin-bottom: 40px;
	border-top: none; /*reset*/
	line-height: 0; /*reset*/
}
.ttfmake-menu-list {
	display: inline-block;
	width: 100%;
	margin: 0; /*reset*/
}
.ttfmake-menu-list h4 {
	margin: 0; /*reset*/
	font-size: 14px;
}
.ttfmake-menu-list a {
	text-decoration: none; /*reset*/
	color: #777777 !important;
}
.ttfmake-menu-list a:hover {
	color: #333333 !important;
}
.ttfmake-menu-list a .ttfmake-menu-list-item-link-icon {
	display: block;
	visibility: hidden;
	width: 84px;
	height: 74px;
	background: url(images/section-icons-hover.png) center center no-repeat;
	background-size: 36px 36px;
}
.ttfmake-menu-list a:hover .ttfmake-menu-list-item-link-icon {
	visibility: visible;
}
.ttfmake-menu-list-item {
	float: left;
	width: 50%;
	height: 155px;
	margin-bottom: 0; /*reset*/
	text-align: center;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttfmake-menu-list-item:hover .ttfmake-menu-list-item-link-icon-wrapper {
	border-color: #bbbbbb;
}
.ttfmake-menu-list-item:last-of-type {
	margin-right: 0; /*reset*/
}
.ttfmake-menu-list-item:hover {
	background-color: #fafafa;
}
@media screen and (min-width: 1160px) {
	.ttfmake-menu-list-item {
		width: 25%;
	}
	.ttfmake-menu-list-item-link:nth-child(even) .ttfmake-menu-list-item {
		border-right: 1px solid #eeeeee;
	}
	.ttfmake-menu-list-item-link:nth-child(4) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(8) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(12) .ttfmake-menu-list-item {
		border-right: 0; /*reset*/
	}
}
.ttfmake-menu-list-item a {
	color: #21759b;
}
.ttfmake-menu-list-item a:hover {
	color: #d54e21;
}
.ttfmake-menu-list-item-link {
	display: block;
}
.ttfmake-menu-list-item-link-icon-wrapper {
	display: inline-block;
	width: 84px;
	height: 74px;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px 60px;
	border: 1px solid #dfdfdf;
}
.section-type-description {
	margin-top: 18px;
}
/*---------------------------------------------------------
 Sortable handle (builder.css)
-------------------------------------------------------- */
.ttfmake-sortable-handle {
	position: relative;
	width: 100%;
	height: 20px;
	border: 1px solid #d9d9d9;
	border-bottom: 0; /*reset*/
	background-color: #eee;
	cursor: move;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sortable-background,
.ttfmp-widget-list li .sortable-background {
	display: block;
	height: 18px;
	background: url(images/sortable-background.png) center center repeat-x;
	opacity: .5;
}
.ttfmake-gallery-item:hover .sortable-background,
.ttfmake-text-column:hover .sortable-background.column-sortable-background,
.ttfmake-banner-slide:hover .sortable-background {
	opacity: 1; /*reset*/
}
/*---------------------------------------------------------
 Forms (builder.css)
-------------------------------------------------------- */
.ttfmake-section input[type=checkbox],
.ttfmake-section input[type=radio],
.ttfmake-section input[type=search],
.ttfmake-section input[type=number],
.ttfmake-section input[type=text],
.ttfmake-section textarea {
	-webkit-box-shadow: none; /*reset*/
	box-shadow: none; /*reset*/
}
.ttfmake-section input[type=text]:focus,
.ttfmake-section input[type=number]:focus {
	border-color: #ddd;
}
.ttfmake-configuration-overlay-input-wrap select {
	border: 1px solid #ddd;
}
/*---------------------------------------------------------
 Sections (builder.css)
-------------------------------------------------------- */
.ttfmake-section {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 0; /*reset*/
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttfmake-section-body {
	display: none;
	float: left;
	width: 100%;
	padding: 20px 20px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttfmake-section-open {
	margin-bottom: 40px;
}
.ttfmake-section-open .ttfmake-section-body {
	display: block; /*reset*/
}
.ttfmake-section-header-title {
	max-width: 90%;
	display: inline-block;
}
.ttfmake-section h4 {
	margin: 20px 0 10px;
	font-size: 13px;
}
.ttfmake-section-header {
	cursor: move;
}
.ttfmake-section-header h3 {
	float: left;
	width: 100%;
	color: #222;
	font-size: 13px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif !important;
	line-height: 1.7 !important;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	background-color: #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	 -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    -ms-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
.ttfmake-section-open .ttfmake-section-header h3 {
	color: #fff;
	border-color: #222;
	background-color: #222;
}
.ttfmake-section-header span {
	font-weight: bold;
}
.ttfmake-section-header em {
	margin-left: 10px;
	color: #777;
	font-weight: normal !important;
	font-style: normal !important;
}
.ttfmake-section-open .ttfmake-section-header em {
	color: #bbb;
}
.ttfmake-section .handlediv {
	position: relative;
	height: 40px;
	padding-left: 10px;
	border-left: 1px solid #d9d9d9;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-section .handlediv {
		height: 48px;
		margin-top: 0; /*reset*/
	}
}
.ttfmake-section-open .handlediv {
	border-left-color: #999;
}
.ttfmake-section-toggle:focus {
	border: none !important;
}
.ttfmake-section-toggle .handlediv,
.ttfmake-banner-slide-toggle .handlediv {
	top: -40px;
	right: 0; /*reset*/
	margin-bottom: -40px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-section-toggle .handlediv,
	.ttfmake-banner-slide-toggle .handlediv {
		top: -48px;
		margin-bottom: -48px;
	}
}
.ttfmake-stage .ttfmake-section .ttfmake-section-header .handlediv:before,
.ttfmake-stage .ttfmake-section .ttfmake-banner-slide-header .handlediv:before {
	content: '\f140';
	top: 1px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-stage .ttfmake-section .ttfmake-section-header .handlediv:before,
	.ttfmake-stage .ttfmake-section .ttfmake-banner-slide-header .handlediv:before {
		top: 5px;
	}
}
.ttfmake-stage .ttfmake-section .ttfmake-section-header .handlediv:hover:before,
.ttfmake-stage .ttfmake-section .ttfmake-banner-slide-header .handlediv:hover:before {
	color: #222;
}
.ttfmake-stage .ttfmake-section-open .ttfmake-section-header .handlediv:hover:before,
.ttfmake-stage .ttfmake-section-open .ttfmake-banner-slide-header .handlediv:hover:before {
	color: #fff;
}
.ttfmake-stage .ttfmake-section.ttfmake-section-open .ttfmake-section-header .handlediv:before,
.ttfmake-stage .ttfmake-section .ttfmake-banner-slide-open .ttfmake-banner-slide-header .handlediv:before {
	content: '\f142';
}
.ttfmake-media-link-wrap {
	margin-bottom: 8px;
}
.ttfmake-media-uploader-add {
	display: inline-block;
	cursor: pointer;
}
.ttfmake-section-open .ttfmake-builder-section-link,
.ttfmake-section:hover .ttfmake-builder-section-link {
	visibility: visible;
}
.ttfmake-builder-section-link {
	visibility: hidden;
}
/*---------------------------------------------------------
 Sections header buttons (builder.css)
-------------------------------------------------------- */
.ttf-make-section-header-button-wrapper {
	position: absolute;
	right: 45px;
}
.ttfmake-section-remove,
.ttfmake-section-configure,
.ttfmp-duplicate-section {
	display: inline-block;
	height: 100%;
	padding: 0 10px 0 7px;
	color: #aaa;
	text-decoration: none;  /*reset*/
}
.ttfmake-section-open .ttfmake-section-remove,
.ttfmake-section-open .ttfmake-section-configure,
.ttfmake-section-open .ttfmp-duplicate-section {
	color: #bbb;
}
/*---------------------------------------------------------
 Hide Configure Section button when closed (builder.css)
-------------------------------------------------------- */
.ttfmake-section .ttfmake-section-configure {
	display: none;
}
.ttfmake-section-open .ttfmake-section-configure {
	display: inline-block;
}
/*---------------------------------------------------------
 Hide button labels (builder.css)
-------------------------------------------------------- */
.ttfmake-section-remove span,
.ttfmake-section-configure span,
.ttfmp-duplicate-section span {
	display: none; /*reset*/
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
}
/*---------------------------------------------------------
 Section header buttons hover state (builder.css)
-------------------------------------------------------- */
.ttfmake-section-remove:hover,
.ttfmake-section-configure:hover,
.ttfmp-duplicate-section:hover {
	color: #222;
}
.ttfmake-section-open .ttfmake-section-remove:hover,
.ttfmake-section-open .ttfmake-section-configure:hover,
.ttfmake-section-open .ttfmp-duplicate-section:hover {
	color: #fff;
}
/*---------------------------------------------------------
 Section header icons (builder.css)
-------------------------------------------------------- */
.ttfmake-section-remove:before,
.ttfmake-section-configure:before,
.ttfmp-duplicate-section:before {
	font: 400 20px/40px dashicons;
	speak: none; /*reset*/
}
.ttfmake-section-remove:before {
	content: "\f182";
}
.ttfmake-section-configure:before {
	content: "\f111";
}
.ttfmp-duplicate-section:before {
	content: "\f105";
}
@media screen and ( max-width: 782px ) {
	.ttfmake-section-remove:before,
	.ttfmake-section-configure:before,
	.ttfmp-duplicate-section:before {
		line-height: 48px;
	}
}
/*---------------------------------------------------------
 Media placeholder (builder.css)
-------------------------------------------------------- */
.ttfmake-media-uploader-placeholder {
	position: relative;
	display: block;
	width: 100%;
	height: 220px;
	border: 1px solid #dfdfdf;
	background-color: #fafafa;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*---------------------------------------------------------
 Media placeholder icon (builder.css)
-------------------------------------------------------- */
.ttfmake-media-uploader-placeholder:before {
	content: "\f128";
	display: block;
	color: #d9d9d9;
	font: 60px/220px dashicons;
	text-align: center;
}
/*---------------------------------------------------------
 Media placeholder hover state (builder.css)
-------------------------------------------------------- */
.ttfmake-media-uploader-placeholder:hover:before {
	color: #c7c7c7;
}
.ttfmake-media-uploader-placeholder img {
	position: absolute;
	max-width: 100%;
	max-height: 228px;
	width: auto;
	height: auto;
	top: 0; /*reset*/
	right: 0; /*reset*/
	bottom: 0; /*reset*/
	left: 0; /*reset*/
	margin: auto;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttfmake-section-body iframe {
	background: #fff !important;
}
/*---------------------------------------------------------
 Media placeholder if has image set (builder.css)
-------------------------------------------------------- */
.ttfmake-has-image-set {
	background-color: #fff;
}
.ttfmake-has-image-set .ttfmake-media-uploader-placeholder:before {
	content: none;
}
.ttfmake-has-image-set:hover .ttfmake-media-uploader-placeholder {
	opacity: .8;
}
/*---------------------------------------------------------
 Overlay (builder.css)
-------------------------------------------------------- */
.ttfmake-overlay {
	display: none;
	z-index: 99999;
	position: fixed;
	top: 0; /*reset*/
	left: 0; /*reset*/
	right: 0; /*reset*/
	bottom: 0; /*reset*/
	background: url(images/background.png) top left repeat;
	background: rgba(0, 0, 0, 0.7) ;
}
.ttfmake-overlay-wrapper {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	min-height: 150px !important;
	padding-bottom: 20px !important;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.3);
	box-shadow: 0 3px 6px rgba(0,0,0,.3);
	/* Fix webkit bug. @link https://github.com/mgcrea/angular-strap/issues/1234#issuecomment-61913920 */
	-webkit-transform: translate3d(0,0,0);
}
.ttfmake-overlay-window-head {
	padding: 0; /*reser*/
	min-height: 36px;
	background: #fcfcfc;
}
.ttfmake-overlay-title {
  	width: 300px;
	margin: 0;
	padding: 0 36px 0 10px;
	color: #444;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	text-rendering: optimizelegibility;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ttfmake-overlay-close {
	display: block;
	position: absolute;
	top: 0; /*reset*/
	right: 0; /*reset*/
	padding: 0 10px;
	font-size: 15px;
	font-size: 15px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	background-color: #1bc865;
	cursor: pointer;
}
.ttfmake-configuration-overlay-input-wrap  .ttfmake-uploader {
	width: 100%;
}
.ttfmake-configuration-overlay .ttfmake-overlay-wrapper {
	margin-left: -200px;
	width: 400px;
}
#ttfmake-tinymce-overlay .ttfmake-overlay-wrapper {
	width: 800px !important;
	height: 500px !important;
	margin-left: -400px !important;
	margin-top: -250px !important;
}
#ttfmake-tinymce-overlay .ttfmake-overlay-body {
	overflow-y: hidden;
}
.ttfmake-overlay-wrapper * {
	-webkit-font-smoothing: subpixel-antialiased !important;
}
.ttfmake-overlay-header {
	border-bottom: 1px solid #dfdfdf;
}
.ttfmake-overlay-header h2 {
	float: left;
}
.ttfmake-overlay-header .ttfmake-overlay-close {
	float: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ttfmake-configuration-overlay-input-wrap {
	padding: 20px 0 !important;
	border-bottom: 1px solid #efefef !important;
}
.ttfmake-configuration-overlay-input-wrap {
	zoom: 1;
}
.ttfmake-configuration-overlay-input-wrap:before,
.ttfmake-configuration-overlay-input-wrap:after {
	display: table;
	content: "";
}
.ttfmake-configuration-overlay-input-wrap:after {
	clear: both;
}
.ttfmake-configuration-overlay-input-wrap label {
	position: relative;
	top: 2px;
	float: left;
}
.ttfmake-configuration-overlay-input-wrap select,
.ttfmake-configuration-overlay-input-wrap input {
	float: right;
}
.ttfmake-configuration-overlay-input-wrap .wp-picker-container,
.ttfmake-configuration-overlay-input-wrap  .ttfmake-uploader {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 20px;
}
.ttfmake-configuration-overlay-input-wrap input[type=checkbox] {
	position: relative;
	top: 5px;
}
.ttfmake-configuration-description {
	float: left;
	margin-top: 20px;
	color: #666;
	font-style: italic;
}
.ttfmake-configuration-overlay-input-wrap select,
.ttfmake-configuration-overlay-input-wrap input {
	margin-left: auto;
}
.ttfmake-overlay-body {
	padding: 20px !important;
	clear: both;
	overflow-y: scroll;
	max-height: 500px;
}
.ttfmake-overlay-body .ttfmake-configuration-overlay-input-wrap:last-of-type {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}
.ttfmake-configuration-title {
	width: 100%;
	height: 41px;
	padding: 0 8px;
	font-size: 19px;
}
.ttfmake-configuration-overlay-input-wrap.ttfmake-configuration-title-wrap {
	padding-top: 0 !important; /*reset*/
	border-bottom: 0 !important; /*reset*/
}
.ttfmake-configuration-overlay-input-wrap.ttfmake-configuration-media-wrap {
	display: block; /*reset*/
	clear: both;
	width: 100%;
}
/*---------------------------------------------------------
 Color picker (builder.css)
-------------------------------------------------------- */
.wp-color-result.wp-picker-open:after {
	display: none;
}
.ttfmake-configuration-overlay-input-wrap .wp-picker-container .button {
	margin-left: 0; /*reset*/
	margin-right: 4px; /*reset*/
}
.ttfmake-configuration-overlay-input-wrap .wp-picker-container .wp-picker-holder {
	margin-left: -8px;
}
.ttfmake-configuration-overlay-input-wrap .wp-picker-container .iris-picker {
	border: 0; /*reset*/
}
/*---------------------------------------------------------
 iFrame (builder.css)
-------------------------------------------------------- */
.ttfmake-iframe-wrapper {
	position: relative;
	border: 1px solid #ddd;
}
.ttfmake-iframe-wrapper iframe {
	overflow: hidden;
	padding: 12px !important; /*12px+8px from body*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ttfmake-iframe-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; /* same as iframe */
	height: 300px; /* same as iframe */
}
.ttfmake-iframe-overlay .edit-content-link {
	display: block;
	width: 100%;
	height: 100%;
}
/*---------------------------------------------------------
 Media Modal (builder.css)
-------------------------------------------------------- */
.ttfmake-remove-current-image {
	display: none;
}
.ttfmake-builder-uploader .ttfmake-remove-current-image {
	display: block;
	float: left;
}
.ttfmake-builder-uploader .ttfmake-remove-current-image a.ttfmake-remove-image-from-modal {
	color: #bc0b0b;
	text-decoration: none; /*reset*/
}
.ttfmake-builder-uploader .ttfmake-remove-current-image a.ttfmake-remove-image-from-modal:hover {
	color: red;
}