/*---------------------------------------------------------
 Text and Gallery section (html-builder.css)
-------------------------------------------------------- */
.ttfmake-text-column,
.ttfmake-gallery-item {
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
	.ttfmake-text-column,
	.ttfmake-gallery-item {
		margin-bottom: 0; /*reset*/
	}
}
.ttfmake-section .ttfmake-gallery-items-stage .sortable-placeholder {
	margin-bottom: 38px;
}
.ttfmake-plus-info {
	float: left;
}
/*---------------------------------------------------------
 Text and Gallery: One column (html-builder.css)
-------------------------------------------------------- */
.ttfmake-text-columns-1 .ttfmake-text-column-position-2,
.ttfmake-text-columns-1 .ttfmake-text-column-position-3,
.ttfmake-text-columns-1 .ttfmake-text-column-position-4 {
	display: none;
}
.ttfmake-text-columns-1 .ttfmake-sortable-handle {
	visibility: hidden;
}
/*---------------------------------------------------------
 Text and Gallery: Two column (html-builder.css)
-------------------------------------------------------- */
.ttfmake-text-columns-2 .ttfmake-text-column-position-3,
.ttfmake-text-columns-2 .ttfmake-text-column-position-4 {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.ttfmake-text-columns-2 .ttfmake-text-column,
	.ttfmake-gallery-columns-2 .ttfmake-gallery-item {
		width: 50%;
		float: left;
		padding: 0 10px;
	}
}
.ttfmake-text-columns-stage.ttfmake-text-columns-2 .sortable-placeholder,
.ttfmake-gallery-items-stage.ttfmake-gallery-columns-2 .sortable-placeholder {
	width: 50%;
}
/*---------------------------------------------------------
 Text and Gallery: Three column (html-builder.css)
-------------------------------------------------------- */
.ttfmake-text-columns-3 .ttfmake-text-column-position-4 {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.ttfmake-text-columns-3 .ttfmake-text-column,
	.ttfmake-gallery-columns-3 .ttfmake-gallery-item {
		width: 33.3333%;
		float: left;
		padding: 0 10px;
	}
}
.ttfmake-text-columns-stage.ttfmake-text-columns-3 .sortable-placeholder,
.ttfmake-gallery-items-stage.ttfmake-gallery-columns-3 .sortable-placeholder {
	width: 33.3333%;
}
.ttfmake-text-columns-3 .ttfmake-media-button-text {
	display: none;  /*reset*/
}
/*---------------------------------------------------------
 Text and Gallery: Four column (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1260px ) {
	.ttfmake-text-columns-4 .ttfmake-text-column,
	.ttfmake-gallery-columns-4 .ttfmake-gallery-item {
		width: 25%;
		float: left;
		padding: 0 10px;
	}
}
.ttfmake-text-columns-stage.ttfmake-text-columns-4 .sortable-placeholder,
.ttfmake-gallery-items-stage.ttfmake-gallery-columns-4 .sortable-placeholder {
	width: 25%;
}
.ttfmake-text-columns-4 .ttfmake-media-button-text {
	display: none;  /*reset*/
}
/*---------------------------------------------------------
 Banner (html-builder.css)
-------------------------------------------------------- */
.ttfmake-banner-slide-body {
	padding: 12px;
}
.ttfmake-banner-slides .ttfmake-banner-slide-header h3 {
	background-color: #ffffff;
}
.ttfmake-banner-options {
	float: left;
	width: 100%;
	margin-top: 40px;
}
.ttfmake-banner-options-container {
	float: left;
	margin-right: 40px;
}
.ttfmake-banner-options-title {
	margin-top: 8px;
}
/*---------------------------------------------------------
 Banner: Slide  (html-builder.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
	.ttfmake-banner-slide-option-wrapper,
	.ttfmake-banner-slide-background-image-wrapper,
	.ttfmake-gallery-background-image-wrapper,
	.ttfmake-gallery-background-options-wrapper {
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.ttfmake-banner-slide-option-wrapper,
	.ttfmake-gallery-background-options-wrapper {
		float: right;
		padding-left: 20px;
	}
	.ttfmake-banner-slide-background-image-wrapper,
	.ttfmake-gallery-background-image-wrapper {
		float: left;
	}
}
.ttfmake-banner-slide-header h3 em {
	font-weight: normal; /*reset*/
	color: #999999;
}
.ttfmake-add-slide-wrapper,
.ttfmake-add-gallery-item-wrapper {
	margin-bottom: 20px;
}
.ttfmake-add-slide-wrapper a:before,
.ttfmake-add-gallery-item-wrapper a:before {
	content: "\f132";
	font-family: Dashicons;
	position: relative;
	top: 1px;
	padding-right: 4px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-add-slide-wrapper a:before,
	.ttfmake-add-gallery-item-wrapper a:before {
		top: 3px;
	}
}
.ttfmake-banner-slide .ttfmake-banner-slide-body {
	display: none;
}
.ttfmake-banner-slide-open .ttfmake-banner-slide-body {
	display: block;
}
.ttfmake-stage .ttfmake-banner-slides .sortable-placeholder {
	width: 100%;
	margin-bottom: 8px;
}
/*---------------------------------------------------------
 Gallery (html-builder.css)
-------------------------------------------------------- */
.ttfmake-gallery-items-stage {
	float: left;
	width: 100%;
}
.ttfmake-gallery-item {
	margin-bottom: 40px;
}
.ttfmake-columns-select-wrapper,
.ttfmake-captions-select-wrapper,
.ttfmake-aspect-select-wrapper{
	display: inline-block;
	float: right;
	margin-left: 20px;
	padding: 0 0 12px;
}
@media screen and ( max-width: 782px ) {
	.ttfmake-columns-select-wrapper,
	.ttfmake-captions-select-wrapper,
	.ttfmake-aspect-select-wrapper{
		display: block;
		float: none;
		margin: 0; /*reset*/
	}
}
#poststuff .ttfmake-large-title {
	padding-top: 12px;
	border-top: 1px solid #dfdfdf;
}
#poststuff .ttfmake-large-title:before {
	content: "\f108";
	font-family: Dashicons;
	position: relative;
	top: 7px;
	font-size: 30px;
}
.ttfmake-gallery-background-options-wrapper label {
	vertical-align: top;
}
.ttfmake-gallery-item-description-wrapper textarea {
	width: 100%;
	height: 75px;
}
.ttfmake-gallery-background-options-container {
	float: left;
	width: 100%;
}
/*---------------------------------------------------------
 Quick Start info (sections.css)
-------------------------------------------------------- */
.ttfmp-import-message-hide {
	display: none;
}
.ttfmake-default-active .ttfmp-import-message {
	display: none;
}