.section-type-description {
	line-height: 1.1rem;
	margin-top: 6px;
}

.ttfmake-column-title {
	height: 40px;
}

.ttfmake-column-title input {
	height: 38px;
	width: 100%;
	margin: 0;
}

.spine-builder-layout-single .ttfmake-titlewrap {
	width: 100%;
	margin-bottom: 10px;
}

.spine-builder-layout-single .ttfmake-iframe-wrapper {
	width: 100%;
}

.configure-banner-slide-link, .configure-column-link,
.remove-banner-slide-link,
.make-plus-disabled .configure-column-link,
.make-plus-disabled .edit-content-link {
	top: 0;
}

.spine-builder-layout-single .edit-content-link {
	right: 0;
}

.spine-builder-layout-single .configure-column-link {
	right: 45px;
}

.sortable-background {
	height: 38px;
}

.ttfmake-sortable-handle {
	height: 40px;
}