/*---------------------------------------------------------
 Text and Gallery section (html-builder.css)
-------------------------------------------------------- */
.wsuwp-spine-builder-column{
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
	.wsuwp-spine-builder-column {
		margin-bottom: 0; /*reset*/
	}
}

/*---------------------------------------------------------
 Text and Gallery: Two column (html-builder.css)
-------------------------------------------------------- */
.wsuwp-spine-builder-column .wsuwp-spine-builder-column-position-2,
.ttfmake-text-columns-2 .ttfmake-text-column-position-4 {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.wsuwp-spine-builder-column {
		width: 100%;
		float: left;
		padding: 0 10px;
	}
}

.wsuwp-spine-builder-column {
	width: 100%;
}

.builder-advanced-controls {
	display: none;
}

.wsuwp-builder-meta label {
	font-weight: 700;
	line-height: 2rem;
}

.wsuwp-builder-meta {
	margin-top: 10px;
}

.wsuwp-builder-column-title {
	width: 150px;
	margin: 0 auto;
	background: #fefefe;
	text-align: center;
	color: #111;
	font-size: 13px;
	line-height: 14px;
}

.wsuwp-column-toggle .handlediv {
	background: #fefefe;
	width: 27px;
	height: 14px;
}

.js .meta-box-sortables .postbox .wsuwp-column-toggle .handlediv:before {
	padding-top: 0;
	margin-top: -2px;
	padding-left: 17px;
	color: #333;
}

.js .meta-box-sortables .postbox .wsuwp-column-toggle .wsuwp-toggle-closed:before {
	content: '\f140';
}

.ttfmake-menu-tab {
	display: none;
}

.ttfmake-section-header {
	position: relative;
}

.ttfmake-section-remove {
	font-size: 0;
	position: absolute;
	top: 0;
	right: 40px;
}

.ttfmake-menu-list h4 {
	font-size: 1em;
}

.section-type-description {
	margin-top: 15px;
	padding-bottom: 15px;
}

.section-type-description p {
	display: none;
	position: absolute;
	bottom: -44px;
	background: #333;
	margin-top: 0;
	width: 200%;
	min-height: 38px;
	margin-left: -50%;
	color: #fff;
	padding: 3px;
	margin-bottom: 0;
	z-index: 99163;
	border: 1px solid #eee;
}

.ttfmake-menu-list-item:hover .section-type-description p {
	display: block;
}

.ttfmake-menu-list-item {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	margin-bottom: 0; /*reset*/
	text-align: center;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (min-width: 1160px) {
	.ttfmake-menu-list-item {
		width: 12.5%;
	}
	.ttfmake-menu-list-item-link:nth-child(even) .ttfmake-menu-list-item {
		border-right: 1px solid #eeeeee;
	}
	.ttfmake-menu-list-item-link:nth-child(4) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(8) .ttfmake-menu-list-item,
	.ttfmake-menu-list-item-link:nth-child(12) .ttfmake-menu-list-item {
		border-right: 0; /*reset*/
	}
}

.ttfmake-menu-list-item-link-icon-wrapper {
	display: inline-block;
	width: 75%;
	height: 75%;
	margin-top: 12%;
	margin-left: 11%;
	margin-right: 13%;
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 58px 50px;
	border: 1px solid #dfdfdf;
}