/*---------------------------------------------------------
 Text and Gallery section (html-builder.css)
-------------------------------------------------------- */
.wsuwp-spine-builder-column{
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
	.wsuwp-spine-builder-column {
		margin-bottom: 0; /*reset*/
	}
}

/*---------------------------------------------------------
 Text and Gallery: Two column (html-builder.css)
-------------------------------------------------------- */
.wsuwp-spine-builder-column .wsuwp-spine-builder-column-position-2,
.ttfmake-text-columns-2 .ttfmake-text-column-position-4 {
	display: none;
}
@media screen and ( min-width: 1160px ) {
	.wsuwp-spine-builder-column {
		width: 100%;
		float: left;
		padding: 0 10px;
	}
}

.wsuwp-spine-builder-column {
	width: 100%;
}

.builder-advanced-controls {
	display: none;
}

.wsuwp-builder-meta label {
	font-weight: 700;
	line-height: 2rem;
}

.wsuwp-builder-meta {
	margin-top: 10px;
}

.wsuwp-builder-column-title {
	width: 150px;
	margin: 0 auto;
	background: #fefefe;
	text-align: center;
	color: #111;
	font-size: 13px;
	line-height: 14px;
}

.wsuwp-column-toggle .handlediv {
	background: #fefefe;
	width: 27px;
	height: 14px;
}

.js .meta-box-sortables .postbox .wsuwp-column-toggle .handlediv:before {
	padding-top: 0;
	margin-top: -2px;
	padding-left: 17px;
	color: #333;
}

.js .meta-box-sortables .postbox .wsuwp-column-toggle .wsuwp-toggle-closed:before {
	content: '\f140';
}

.section-type-description {
	line-height: 1.1rem;
	margin-top: 6px;
}

.ttfmake-column-title {
	height: 40px;
}

.ttfmake-column-title input {
	height: 38px;
	width: 100%;
	margin: 0;
}