#customize-control-spine_open_sans-300:before {
	border-top: 1px #aaa dotted;
	content: "Select additional fonts to load. (Beware. Each font decreases the speed a page loads.)";
	display: block;
	padding: 5px 0;
}
