/* Random Backgrounds */
/* body.page.five1, body.page.five2 { background-color: black; } */

/*
.home main {
	background: url('bookmark/backgrounds/letters/lightest-one-large.jpg') left -80px no-repeat;
	background-size: 100% auto;
	}
*/
@import 'https://repo.wsu.edu/spine/1/styles/opensans.css';

.home main {
	background: url('bookmark/backgrounds/letters/lightest-two.png') 0px 0px no-repeat;
	background-size: 615px auto;
	
	}
.home .opensansy main {
	font-family: "OpenSans";
	}

/*
.page.five1 main { background: url('bookmark/backgrounds/letters/black-one.jpg') left top no-repeat; }
.page.five2 main { background: url('bookmark/backgrounds/letters/black-two.jpg') left top no-repeat; }
.page.five3 main { background: url('bookmark/backgrounds/letters/lightest-one.jpg') left top no-repeat; }
.page.five4 main { background: url('bookmark/backgrounds/letters/black-one.jpg') left top no-repeat; }
.page.five5 main { background: url('bookmark/backgrounds/letters/black-one.jpg') left top no-repeat; }
*/

/* Bookmark Style */
.style-bookmark .main-header {
	background: #981e32;
	position: relative;
	top: 0px;
	left: 330px;
	width: 2000px;
	border: 0px;
	}
.main-header .header-group {
	position: absolute;
	width: 396px;
	}
.size-lt-medium .main-header {
	left: 0px;
	}
.size-lt-medium .header-group {
	xleft: 2em;
	}
.sup-header-default,
.sub-header-default {
	display: block;
	line-height: 1em;
	}
.main-header sup a {
	font-size: .9em;
	color: #e6e8e9;
	text-transform: uppercase;
	}
	
.opensansy .main-header sup {
	font-family: "OpenSans-CondBold";
	xxfont-family: "OpenSans-Semibold";
	font-size: 16px;
	font-weight: normal;
	
	}
.opensansy .main-header sub {
	font-family: "OpenSans-CondLight";
	font-family: "OpenSans-Light";
	font-size: 30px;
	font-weight: normal;
	
	}
	
/* Articles */
.page h1.article-title {
	font-weight: normal;
	font-size: 2.5em;
	}
.row.margin figure.alignright {
	width: 396px;
	}	
.size-gt-medium .row.margin figure.alignright {
	margin: 5px -160px 10px 20px;
	}
.row.margin figure figcaption {
	
	}