/* Random Backgrounds */
/* body.page.five1, body.page.five2 { background-color: black; } */

/*
.home main {
	background: url('bookmark/backgrounds/letters/lightest-one-large.jpg') left -80px no-repeat;
	background-size: 100% auto;
	}
*/
@import 'https://repo.wsu.edu/spine/1/styles/opensans.css';

body {
	background-image: url('bookmark/backgrounds/gradients/gradient-graytolight-south-2.jpg');
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #f9f9f9;
	}
.home main {
	background: url('bookmark/backgrounds/letters/lightest-four.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 792px auto;
	min-height: 967px;
	}
.home #binder {
	background: transparent url('bookmark/backgrounds/letters/lightest-spine.jpg');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
	}
.home .size-lt-large main,
.home .size-lt-large #binder {
	background-position: left 50px;
	}

.home .opensansy main {
	font-family: "OpenSans";
	}
	
main {
	min-height: 537px;
	}

/*
.page.five1 main { background: url('bookmark/backgrounds/letters/black-one.jpg') left top no-repeat; }
.page.five2 main { background: url('bookmark/backgrounds/letters/black-two.jpg') left top no-repeat; }
.page.five3 main { background: url('bookmark/backgrounds/letters/lightest-one.jpg') left top no-repeat; }
.page.five4 main { background: url('bookmark/backgrounds/letters/black-one.jpg') left top no-repeat; }
.page.five5 main { background: url('bookmark/backgrounds/letters/black-one.jpg') left top no-repeat; }
*/

/* Bookmark Style */
.style-bookmark .main-header {
	background: #981e32;
	position: relative;
	top: 0px;
	left: 330px;
	width: 2000px;
	border: 0px;
	}
	
.style-bookmark.colors-green .main-header { background: #8f7e35; }
.style-bookmark.colors-orange .main-header { background: #b67233; }
.style-bookmark.colors-blue .main-header { background: #4f868e; }
.style-bookmark.colors-yellow .main-header { background: #c69214; }
.style-bookmark.colors-gray .main-header { background: #5e6a71; }

.main-header .header-group {
	position: absolute;
	width: 396px;
	}
.size-lt-medium .main-header {
	left: 0px;
	}
.size-lt-medium .header-group {
	xleft: 2em;
	}
.sup-header-default,
.sub-header-default {
	display: block;
	line-height: 1em;
	}
.main-header sup a {
	font-size: .9em;
	color: #e6e8e9;
	text-transform: uppercase;
	}
	
.opensansy .main-header sup {
	font-family: "OpenSans-CondBold";
	xxfont-family: "OpenSans-Semibold";
	font-size: 16px;
	font-weight: normal;
	
	}
.opensansy .main-header sub {
	font-family: "OpenSans-CondLight";
	font-family: "OpenSans-Light";
	font-size: 30px;
	font-weight: normal;
	
	}
	
/* Articles */
.page h1.article-title {
	font-weight: normal;
	font-size: 2.5em;
	}
.row.margin figure.alignright {
	width: 396px;
	}	
.size-gt-medium .row.margin figure.alignright {
	margin: 5px -160px 10px 20px;
	}
.row.margin figure figcaption {
	
	}
	
aside header {
	font-weight: bold;
	}
.opensansy aside header {
	xxfont-weight: normal;
	xxfont-family: "OpenSans-CondBold";
	xxfont-family: "OpenSans-Light";
	font-size: 1.4em;
	line-height: 1.6em;
	}
	
/* Figures and Images */
main {
	position: relative;
	}
@-webkit-keyframes shrink-main-header {
    0% { height: 142px; }
    100% { height: 80px; }
	}
.has-featured-image header.main-header {
	z-index: 99163;
	height: 80px;
	position: absolute !important;
	}
.has-featured-image header.main-header {
	-webkit-animation: shrink-main-header 1s ease-out;
	position: absolute !important;
	}
	


	

